import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

service variant-script /system/bin/variant-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on boot
    start variant-script
    setprop sys.usb.config adb
